.Navbar{
    display: flex;
    width: 100vw;
    padding: 3vh 5.5vw;
    z-index: 99999;
    justify-content: space-between;
    align-items: center;
    
}
.Links{
  
        display: flex;
        gap: 3vw;
}
.Link {
    width: max-content;
    font-size: 2.5vw;
    font-weight: bold;
    color: var(--white) !important;
    text-decoration: none;
}
.Tools{
    display: flex; gap: 2vw; align-items: center; 
}