.Top{
    padding-inline: 4vw;
    width: 100%;
    display: flex;
   margin-bottom: min(6vh,3vw);
   min-height: 42vh;
}
.BG{
    width:60vw ;
    height:39vw;
    max-height: 60vh ;     
    min-height: min(35vw ,max( 65vh , 31vw)) ;

}