.Team{
  .Page{   padding: max(13vh, 5vw) 5.5vw ; }
.Top{ margin-bottom: min(7vh,5vw);}

}
.HeadLap{
  .Team{
    .Top{gap: 5vw ;
    margin-bottom: -2vh !important;
    }
 
 .Team_Mid{
margin-top: 5vw;
  img{
    height: 7vh;
}    

}

.Down_Item{

  height : 19vh;
}
  }


}


.BigLap{
  .Team{    
      .Page{        padding: 16vh 5.3vw}
      .SocialMedia{padding-top: 16vh ; }

      .BG{
        height: 55vh !important; 
      }
      .Top{
        margin-bottom: 0;
      }
  .Mid_Item{
  img{
    height: 4.5vw;

  }    

}
.LeftSec_Top{h1,h2{font-size: 6vh !important;}
}
.LeftSec_Mid{
  h6{font-size: 2vh;}

}
.Down_Item{
  height : 25vh;
}

  }

}
  .Tap{
    .Team{
       .Team_LeftSec{ display: flex;flex-direction: column; justify-content: center;   width: 55vw;  align-items: center;     }
    .Page{        padding: 10vh 5.3vw !important;}
    .BG{min-width: 100vw !important; height: 60vh !important; }
    .Tools{display: none;}
    .Navbar{justify-content:center;.Link{font-size: 3.4vw;} }
    .Top{flex-direction: column;align-items: center; margin-bottom:2vh !important;}
    .LeftSec_Top{ display: flex; flex-direction: column; align-items: center; justify-content: center;    width: 75vw; margin-bottom: 1vh !important;
     h4{font-size: min( 6vw , max(7vw ,5vh) ) !important; 
      text-align: center; margin: auto ;}
    h3{font-size: 5vw !important; text-align: center; }}
    h6{ font-size: 1.8vw; display: none;} 
     .LeftSec_Mid{max-width: 100%;    text-align: center;   justify-content: center;
      display: flex; }

    .SocialMedia{flex-direction: row;padding: 18vh 11vw; 
      justify-content: space-between;  width: 100vw;
    .SocialMediaB{flex-direction: column-reverse;}  
    
    .Icon{font-size: 2.5vh;} .Ibra{height: 5vh;} }
    .Team_RightSec{ height: max(25vw,25vh) !important;  ;
    }
    .Team_Mid{
       .Mid_Item{
      margin-bottom: 1vh;
      height: 4vw;
      img{
      width: 97vw;

}
  }
  
    }
    
  .Down_Item{
    height : 13vw;
}
    }
   
  }
 
.BigTap{
  .Team{
    h6{display: block !important ;}

    .Down_Item{
    height : 19vh;
}
.Mid{height: 14vh;}
  }
  .Mid_Item{

    img{

    min-width: 95vw !important;

}
} 

}

.BigMobile{
  .Team{
    .Page{        padding: 9vh 5.3vw !important;}

    h4{display: block;}
    .SocialMedia{padding: 18vh 8vw; 
    }
    .LeftSec_Mid{
      h6{font-size: 1.5vh;}
    
    }
    .Mid_Item{
  
      img{
        height: 19vw !important;
      width: 50vw !important;
  
  }
  } 
  .Mid{height: 14vh;}
  .Team_RightSec{ height: min(50vw , 25vh) !important ;
  }
}

  }
 
