.Team_RightSec {
  height: 21vw;
}
.Team{
  .Top{
    align-items: center;
    margin-bottom:12vh !important;
  }
  .Page{
    padding: max(4vh, 5.3vw) !important;
  }
}

.Team_LeftSec {
  color: var(--white);
  width: 45vw;

  .LeftSec_Top {
    width:40vw;
    margin-bottom: 4vh;

    h3 {
      font-weight: bold;
      font-size: 2.4vw ;
      max-width: max-content;

    }

    h4 {
      font-weight: bold;
      font-size:  clamp(3.5vw, 4.5vw, 6.4vh);
      display: inline;
      margin-bottom: 2vh;

    }

    h4 h4 {
      color: black;

      
       

    }
  }

  .LeftSec_Mid {
    max-width: 33vw;

  }

  h6{
    text-transform: lowercase;
    font-size: max(1.3vw, 2.4vh);

    width: 90%;
    word-spacing: 7px;
}



}