.Team_Mid {
    @include Flex;
    margin-bottom: min(5vh, 3vw);

    .Mid_Item {
        img{
                   width: max(80vw,140vh);
                   object-fit: contain !important;
                    
 
        }

    }
}