.Contact_RightSec {
  height: 22vw;
  z-index: 9999;
}


.Contact_LeftSec {
  color: var(--white);
  width: 45vw;

  .LeftSec_Top {
    width:clamp(50vh,30vw,70vh);
    min-height: 23vh;

    h3 {
      font-weight: bold;
      font-size: 2vw ;
      max-width: max-content;

    }

    h4 {
      font-weight: bold;
      font-size:  clamp(3vw, 5vw, 7vh);
      display: inline;
      margin-bottom: 1vh;

    }

    h4 h4 {
      color: black;

    }
  }

  .LeftSec_Mid {
    max-width: 33vw;
    margin: 2vh;


  }

  h6{
    text-transform: lowercase;
    font-size: max(1.5vw, 1.5vh);

    width: 90%;
    word-spacing: 7px;
}



}