.Contact_Mid {
    @include Flex;
    margin-bottom: min(2vh, 1vw);

    .Mid_Item {
        img{
                   width: 50vw !important;
                   object-fit: contain !important;

 
        }

    }

    


}