.Contact_RightSec {
  height: 22vw;
  z-index: 9999;
}


.Contact_LeftSec {
  color: var(--white);
  width: 45vw;


  .LeftSec_Top {

    h3 {
      font-weight: bold;
      font-size: 2vw ;
      max-width: max-content;

    }

    h4 {
      font-weight: bold;
      font-size: 4vw;
      display: inline;
      margin-bottom: 1vh;

    }

    h4 h4 {
      color: var(--black);

    }
  }

  .LeftSec_Mid {
    max-width: 33vw;
    margin: 2vh;


  }

  h6{
    text-transform: lowercase;
    font-size: 1.3vw;

    width: 90%;
    word-spacing: 7px;
}



}