.HeadLap{
  .Home{
    .Top{gap: 5vw ;}
 .Home_RightSec{
  min-height: 400px;
 }
 .Home_Mid{
margin-top: 3vw;
  img{
    height: 4vw;
}    

}

.Down_Item{
  height : 20vh;
}
  }


   
}

.BigLap{
  //// 1
  .Home{
    
      .Page{        padding: 16vh 5.3vw}
      .SocialMedia{padding-top: 16vh ; }

      .BG{
        height: 55vh !important; 
      }
      .Top{
        margin-bottom: 0;
        gap: 20px;
      }
      .Home_RightSec{
        height: 33vh; 
   }
  .Home_Mid{

    img{
      height: 5.5vw;
  }    

}
.LeftSec_Top{h1,h2{font-size: 6vh !important;}
}
.LeftSec_Mid{
  h6{font-size: 2vh;}

}

.Down_Item{
 
  height : 25vh;



}
  }

}
  .Tap{
    //// 2
    .Home{
       .Home_LeftSec{text-align: center  !important;}
    .Page{        padding: 17vh 5.3vw;}
    .BG{min-width: 100vw !important; height: 60vh !important; }
    .Tools{display: none;}
    .Navbar{justify-content:center;.Link{font-size: 3.4vw;} }
    .Top{flex-direction: column;align-items: center;  margin-bottom:0 ;}
    .LeftSec_Top{h1,h2{font-size: min( 6vw , max(7vw ,5vh) ) !important; text-align: center; margin: auto ;}
    h3{font-size: 4vw !important; text-align: center; } margin-bottom: 4vh;}
    .LeftSec_Mid,.LeftSec_Down{display: none;}
    .SocialMedia{flex-direction: row;padding: 18vh 11vw; 
      justify-content: space-between;  width: 100vw;
    .SocialMediaB{flex-direction: column-reverse;}  
    
    .Icon{font-size: 2.5vh;} .Ibra{height: 5vh;} }
    .Home_RightSec{ height: max(25vw,25vh) !important;  ;
    }
    .Home_Mid{
       .Mid_Item{
      font-size: 2.4vw ;
      margin-bottom: 1vh;

  }
  
    }
    
  .Down_Item{
    height : 13vw;
}
    }
   
  }
 
.BigTap{
  .Home{
    .Home_Mid{

      img{
        height: 15vw;
    }    
  
  }
  .Down_Item{
    height : 17vh;
}
  }
  
}


.BigMobile{
  .Home{
    .Top{
      max-height: 45vh;
    }
     h6{display: none;}
  .LeftSec_Top{h1,h2{font-size: 5vh !important; word-break: break; max-width: 60vw; }
}
.Home_Mid{

  img{
    height: 15vw;
}    

}
  }
 
}
.Mobile{
  .Home{
   
.Home_Mid{

  img{
    height: 23vw !important;
}    
transform: translateY(-3vh);

}
.Link{font-size: 5vw !important;}
  }
 
}