.Services_Mid {
    @include Flex;
    margin-bottom: min(5vh, 3vw);

    .Mid_Item {
        img{
                   height: clamp(3vh, 1.9vw, 3vw);
                   object-fit: contain !important;

 
        }

    }

    

    .Mid_Items {
        @include Flex;

        gap: 5vw;
        margin-top: 0;
        margin-inline: min(3vw);

    }
}