.Services_Mid {
    @include Flex;
    margin-bottom: min(5vh, 3vw);

    .Mid_Item {
        img{
                   height: 2.3vw;
                   object-fit: contain !important;

 
        }

    }

    

}